body {
    background-color: #ffa64d;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
}

img {
    display: inline-block;
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 3px solid #ffcc00;
    border-radius: 50%;
    background-color: rgb(255, 255, 153);
}

#grid {
    display: inline-block;
    width: 840px;
    height: 840px;
    background-color: white;
    line-height: 0;
}

.box {
    display: inline-block;
    background-color: white;
}

.painted {
    background-color: black;
}

#restartButton:hover {
    cursor: pointer;
}